.country-flag {
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.country-name {
  text-align: center;
  margin: 0;
}

.country-div {
  margin: 20px;
}
